<div class="d-flex equal-heigh col-12 justify-content-between">
    <div class="col-6 me-2">
        <app-years-multiple-winners></app-years-multiple-winners>
    </div>
    <div class="col-6">
        <app-top-studio-winners></app-top-studio-winners>
    </div>
</div>
<div class="d-flex equal-heigh col-12 justify-content-between mt-3">
    <div class="col-6 me-2">
        <app-producers-wins></app-producers-wins>
    </div>
    <div class="col-6 me-2">
        <app-list-movies-year></app-list-movies-year>
    </div>
</div>
