.mat-toolbar {
    font-family: 'Roboto', sans-serif;
    padding: 0 30px;
    background-color: #15192b; // sobrescreve a cor padrão
    height: 50px;
  }

  /* styles.css ou styles.scss */

  
  mat-toolbar {
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  
  mat-sidenav {
    width: 220px;
    background: #fafafa;
    border-right: 1px solid #ddd;
    height: 100%;
  }
  
  mat-nav-list a {
    margin: 4px 0;
    border-radius: 4px;
  }
  
  mat-nav-list a.active {
    background-color: #e0e0e0;
  }
  