.topbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}
  
.main-layout {
    display: flex;

    height: calc(100vh - 64px);
}

  
.content {
    flex: 1;
    padding: 24px;
    overflow-y: auto;
}
  