<mat-toolbar color="primary">
  <span>Frontend Angular Test</span>
</mat-toolbar>

<mat-sidenav-container class="main-layout" autosize style="height: 100%;">
  <mat-sidenav mode="side" opened>
    <mat-nav-list>
      <a mat-list-item
         routerLink="/dashboards"
         routerLinkActive="active">
        Dashboard
      </a>
      <a mat-list-item
         routerLink="/list-movies"
         routerLinkActive="active">
        List
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="content p-4">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
